*{
    margin: 0;
    padding: 0;
}
.logo img{
    margin-left: 80px;
    width: 150px;
    float: left;
    margin-top: 40px;
}
.navbar {
    float: right;
    margin-right: 200px;
    margin-top: 48px;
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    display: inline;
}
.navbar a{
    float: left;
    color: black;
    /* overflow: auto; */
    text-decoration: none;
    padding-left: 30px;
}
.navbar a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    background: red;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.navbar a:hover:after { 
    width: 100%; 
    left: 0; 
}
.contact span {
    border: 2px solid black;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    margin: -7px -131px 0px 15px;
    float: right;
    color: black;
    /* overflow: auto; */
    text-decoration: none;
    /* padding-left: 30px; */
}
.main {
    position: absolute;
    margin-top: 170px;
}
#id1{
    font-size: 65px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #444444;
}
.text p{
    padding-bottom: 20px;
}
.text{
    margin-left: 80px;
    color: #6E7C8B;
    font-family: 'Roboto Condensed', sans-serif;
}
.text p{
    margin-left: 80px;
    font-size: 20px;
    color: #6E7C8B;
    font-family: 'Mulish', sans-serif;
}
ul{
    margin-left: 100px;
    font-size: 20px;
    color: #6E7C8B;
    font-family: 'Mulish', sans-serif;
    padding-bottom: 15px;
}
.text h2{
    padding-bottom: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: 70px;
}
p a{
    color: #FF4629;
    text-decoration: none;
}
p a:hover{
    color: #6E7C8B;
}
li a{
    color: #FF4629;
    text-decoration: none;
}
li a:hover{
    color: #6E7C8B;
}
.fa {
    padding: 12px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    border: 2px solid rgb(182, 172, 172);
  }
  .fa:hover {
    opacity: 0.7;
    border: 2px solid blue;
    color: blue;
}
.fa-facebook {
    background: #fff;
    color: #777777;
  }
  
  .fa-twitter {
    background: #fff;
    color: #777777;
  }
  
  .fa-google {
    background: #fff;
    color: #777777;
  }
  
  .fa-linkedin {
    background: #fff;
    color: #777777;
  }
.social{
    margin-top: 1500px;
    margin-left: 530px;
    position: absolute;
}
.footer1{
    /* position: absolute; */
    margin-top: 1590px;
    margin-left: 430px;
    color: #6E7C8B;
}
.foot-text{
    /* position: absolute; */
    margin-left: 5px;
    margin-top: -20px;
}

.footer{
    position: absolute;
    margin-top: 610px;
}
#text{
    float: left;
    border-right: 1px solid #6E7C8B;
    padding-right: 10px;
    padding-left: 5px;
    margin-top: 10px;
    font-size: 14px;
}
.footer1 a{
    color: #6E7C8B;
}



/* .header-text1{
    position: absolute;
    margin-top: 170px;
    margin-left: 80px;
    font-size: 65px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #444444;
}
.header-text2{
    position: absolute;
    margin-top: 280px;
    margin-left: 80px;
    font-size: 20px;
    color: #6E7C8B;
    font-family: 'Mulish', sans-serif;
}
.header-text2 a{
    color: #FF4629;
    text-decoration: none;
}
.header-text2 a:hover{
    color: #6E7C8B;
}
.header-text3{
    position: absolute;
    margin-top: 380px;
    margin-left: 80px;
    font-size: 20px;
    color: #6E7C8B;
    font-family: 'Mulish', sans-serif;
}
.header-text4{
    position: absolute;
    margin-top: 460px;
    margin-left: 80px;
    font-size: 20px;
    color: #6E7C8B;
    font-family: 'Mulish', sans-serif;
} */


/* .ul{
    position: absolute;
    margin-top: 590px;
    margin-left: 108px;
    font-size: 20px;
    color: #6E7C8B;
    font-family: 'Mulish', sans-serif;
}
.text1{
    position: absolute;
    margin-top: 690px;
    margin-left: 80px;
    color: #6E7C8B;
    font-family: 'Roboto Condensed', sans-serif;
}
.header-text5{
    position: absolute;
    margin-top: 740px;
    margin-left: 80px;
    font-size: 20px;
    color: #6E7C8B;
    font-family: 'Mulish', sans-serif;
}
.ul1{
    position: absolute;
    margin-top: 780px;
    margin-left: 108px;
    font-size: 20px;
    color: #6E7C8B;
    font-family: 'Mulish', sans-serif;
}
.text2{
    position: absolute;
    margin-top: 880px;
    margin-left: 80px;
    color: #6E7C8B;
    font-family: 'Roboto Condensed', sans-serif;
}
.header-text6{
    position: absolute;
    margin-top: 920px;
    margin-left: 80px;
    font-size: 20px;
    color: #6E7C8B;
    font-family: 'Mulish', sans-serif;
}
.ul2{
    position: absolute;
    margin-top: 990px;
    margin-left: 108px;
    font-size: 20px;
    color: #6E7C8B;
    font-family: 'Mulish', sans-serif;
}
.text3{
    position: absolute;
    margin-top: 1120px;
    margin-left: 80px;
    color: #6E7C8B;
    font-family: 'Roboto Condensed', sans-serif;
}
.txt{
    position: absolute;
    margin-top: 1170px;
    margin-left: 80px;
    font-size: 20px;
    color: #6E7C8B;
    font-family: 'Mulish', sans-serif;
}
.text4{
    position: absolute;
    margin-top: 1270px;
    margin-left: 80px;
    color: #6E7C8B;
    font-family: 'Roboto Condensed', sans-serif;
}
.txt1{
    position: absolute;
    margin-top: 1320px;
    margin-left: 80px;
    font-size: 20px;
    color: #6E7C8B;
    font-family: 'Mulish', sans-serif;
}
.txt1 a{
    color: #FF4629;
    text-decoration: none;
}
.txt1 a:hover{
    color: #6E7C8B;
}
.text5{
    position: absolute;
    margin-top: 1430px;
    margin-left: 80px;
    color: #6E7C8B;
    font-family: 'Roboto Condensed', sans-serif;
}
.txt2{
    position: absolute;
    margin-top: 1480px;
    margin-left: 80px;
    font-size: 20px;
    color: #6E7C8B;
    font-family: 'Mulish', sans-serif;
}
.text6{
    position: absolute;
    margin-top: 1600px;
    margin-left: 80px;
    color: #6E7C8B;
    font-family: 'Roboto Condensed', sans-serif;
}
.txt3{
    position: absolute;
    margin-top: 1650px;
    margin-left: 80px;
    font-size: 20px;
    color: #6E7C8B;
    font-family: 'Mulish', sans-serif;
}
.text7{
    position: absolute;
    margin-top: 1770px;
    margin-left: 80px;
    color: #6E7C8B;
    font-family: 'Roboto Condensed', sans-serif;
}
.txt4{
    position: absolute;
    margin-top: 1820px;
    margin-left: 80px;
    font-size: 20px;
    color: #6E7C8B;
    font-family: 'Mulish', sans-serif;
}
.ul3{
    position: absolute;
    margin-top: 1870px;
    margin-left: 108px;
    font-size: 20px;
    color: #6E7C8B;
    font-family: 'Mulish', sans-serif;
}
.ul3 a{
    color: #FF4629;
    text-decoration: none;
}
.ul3 a:hover{
    color: #6E7C8B;
} */

